.body {
  padding: 0px;
  margin-left: 50px;
  padding-bottom: 0px;
}
button#new-chat-plus-button {
  background-color: #565aad !important;
}
div.ce-chat-title-text {
  color: #565aad;
}
div.ce-chat-subtitle-text {
  color: #565aad65;
}
div.ce-my-message-bubble {
  background-color: #565aad !important;
}
div#ce-send-message-button {
  background-color: #565aad !important;
}
div.ce-chat-unread-dot {
  background-color: #565aad !important;
}
