.App {
  height: 100vh;
  display: flex;
  color: black;
}

.appAside {
  width: 60%;
  .img {
    width: 100%;
    height: 100%;
  }
}

.appForm {
  width: 40%;
  background-color: white;
  padding: 25px 40px;
  overflow: auto;
}

.formField {
  margin-bottom: 30px;
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.formFieldInput::placeholder {
  color: #616e7f;
}

.formFieldButton {
  background-color: #6b5b95;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 50px;
  margin-right: 10px;
  font-size: 0.8em;
  font-weight: 500;
}

.formFieldLink {
  color: #40434e;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #6b5b95;
  padding-bottom: 5px;
  margin-right: 20px;
}

.formFieldCheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.formFieldCheckbox {
  position: relative;
  top: 1.5px;
}

.formFieldTermsLink {
  color: #646f7d;
  border-bottom: 1px solid #6b5b95;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}
