.messenger-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 100vh;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .messenger-header {
    .title {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;
      h3 {
        margin: 0;
        font-weight: 400;
      }
      .icon {
        cursor: pointer;
        font-size: 20px;
      }
    }
    .meeting-url {
      font-size: 12px;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }
  .messenger-header-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: #555;
      p {
        margin-left: 10px;
      }
      &.active {
        border-bottom: 2px solid #6264a7;
        color: #6264a7;
      }
      &:hover {
        cursor: pointer;
        background: rgba(85, 87, 146, 0.2);
      }
    }
  }
  .chat-section {
    padding: 20px;
    flex: 1;
    overflow-y: scroll;
    .chat-block {
      margin-bottom: 30px;
      .sender {
        font-weight: 500;
        font-size: 14px;
        small {
          margin-left: 5px;
          font-weight: 300;
        }
      }
      .msg {
        margin: 0;
        padding-top: 5px;
        color: #555;
        font-size: 14px;
      }
    }
  }
  .send-msg-section {
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    input {
      padding: 5px;
      border: none;
      outline: none;
      border-bottom: 1px solid #eee;
      width: 80%;
    }
    .icon {
      cursor: pointer;
      &:hover {
        color: #6264a7;
      }
    }
  }
}
